*{
	text-align: center;
	margin: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 125%
}
body {
    background-color: rgb(20, 179, 241);
    background-size: 100%
}
h1{
    margin-top: 1em;
    font-size: 175%
}
.button {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 18px 40px;
    text-decoration: none;
    display: inline-block;
	font-size: 18px;
	border-radius: 5px;
}
.button:hover {
	padding: 25px 46px;
	background-color: rgb(242, 244, 244);
}