@import url(bulma.css);

.box:hover{
  	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
 	transition: box-shadow 1s;
}

*{
	font-family: "Raleway", sans-serif;
	text-align: center;
	margin-top: 1em;
	margin-left: 10em;
	margin-right: 10em;
	flex: 1 0 auto;
}

html, body{
	height: 100%;
}

body{
  	display: flex;
  	flex-direction: column;
}

footer{
	flex: none;
}

a{
	margin: 0;
}

a.button{
	margin-top: 5em;
	margin-left: 2em;
	margin-right: 2em;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

a.button:hover{
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
 	transition: box-shadow 1s;
}
