*{
	text-align: center;
	margin: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 125%
}
body {
    background-color: rgb(233, 171, 57);
    background-size: 100%
}
.button {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid white;
    color: white;
    padding: 18px 40px;
    text-decoration: none;
    display: block;
	font-size: 18px;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    margin-top: 7em;
    margin-bottom: 7em;
}
.button:hover {
	padding: 25px 46px;
    background-color: white;
    color: black;
}