@import url(../bulma.css);

html, body{
	height: 100%;
}

body{
  	display: flex;
  	flex-direction: column;
}

*{
    font-family: "Raleway", sans-serif;
	text-indent: 2em;
	flex: 1 0 auto;
}

footer{
	flex: none;
}

.title, .subtitle, .button{
	text-indent: 0;
}